/* Base >>> */
html, body {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

* {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

ul, li {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0 15px 0;
}

p {
	margin: 0 0 1.5em 0;
}

/* only for old browsers */
a img {
	border: none;
}
/* <<< */

/* defaults >>> */
.container {
	padding: 0;
	margin: auto;
	max-width: 1280px;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.clear {
	clear: both;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
	overflow: auto;
}

.nowrap {
	white-space: nowrap;
}

/* buttons === */
.btn {
	display: inline-block;
	padding: 13px;
	border-radius: 10px;
	text-decoration: none;
}

.btn-primary {
	color: lightgrey;
	border: 2px solid lightgrey;
	font-weight: bold;
	background: white;
}
/* triangle icon (IE9+ checked) */
.btn-primary::before {
	content: "";
	display: inline-block;
	margin-right: 10px;
	border-left: 7px solid lightgrey;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
}
.btn-primary:hover {
	text-decoration: none;
	color: white;
	background-color: lightgrey;
	border-color: lightgrey;
}
.btn-primary:hover::before {
	border-left-color: white;
}

/* images === */
.img-responsive {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

/* <<< */
