/* Base >>> */

/*
box-sizing now supported by all major browsers
source: https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

body {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* only use when needed because line-height can differ from browser to browser */
.serif {
	font-family : 'ヒラギノ明朝 ProN' , 'Hiragino Mincho ProN' , '游明朝','游明朝体',YuMincho,'Yu Mincho' , 'ＭＳ 明朝' , 'MS Mincho' , HiraMinProN-W3 , 'TakaoEx明朝' , TakaoExMincho , 'MotoyaLCedar' , 'Droid Sans Japanese' , serif;
}

ul, li {
	margin: 0;
	padding: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* default effect on links or buttons */
.effect:hover {
	transition: all 0.3s ease;
	opacity: 0.8;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0 15px 0;
}

p {
	margin: 0 0 1.5em 0;
}
p:last-of-type {
	margin-bottom: 0;
}

a:visited {
	color: inherit;
}

/* only for old browsers */
a img {
	border: none;
}
/* <<< */

/* forms related >>> */
input, select, textarea {
	font-size: 1rem; /* will prevent zooming when focused on some devices */
}
/* <<< */

/* layout >>> */
.container {
	padding: 0;
	margin: auto;
	max-width: 1280px;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.clear {
	clear: both;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
	overflow: auto;
}

.nowrap {
	white-space: nowrap;
}

/* and the opposite */
/* source: http://stackoverflow.com/a/18891915/921796 */
.force-wrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/* hides text inside a tag, has to be block or inline-block */
.hide-text {
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap
}

/*
the neighboor img tag can then use vertical-align:middle
an outside container is needed with fixed height.
 */
.helper-valign {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* responsive */
.pc-only {
	/* can be empty when desktop first */
}
.mobile-only {
	display: none;
}
@media (max-width: 640px) { /* adapt to design */
	.pc-only {
		display: none;
	}
	.mobile-only {
		display: block;
	}
}

/* buttons === */
.btn {
	display: inline-block;
	padding: 13px;
	border-radius: 10px;
	text-decoration: none;
}

.btn-primary {
	color: lightgrey;
	border: 2px solid lightgrey;
	font-weight: bold;
	background: white;
}
/* triangle icon (IE9+ checked) */
.btn-primary::before {
	content: "";
	display: inline-block;
	margin-right: 10px;
	border-left: 7px solid lightgrey;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
}
.btn-primary:hover {
	text-decoration: none;
	color: white;
	background-color: lightgrey;
	border-color: lightgrey;
}
.btn-primary:hover::before {
	border-left-color: white;
}

/* images === */
.img-responsive {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

/* polaroid effect, useful on wordpress sites for example */
.post-thumbnail img {
    display: inline-block;
    margin: 10px;
    padding: 4px;
    background: white;
    box-shadow: 1px 1px 3px rgba(100, 100, 100, 0.7);
    max-width: 100%;
    /*max-width: 250px;*/
    height: auto;
}
/* <<< */

/* videos & embed >>> */

/* video containers */
.video-wrapper {
	position: relative;
	/* 1:1 */
	padding-bottom: 100%; /* because padding is calculated according to block size */
	/*padding-top: 25px;*/
	height: 0;
}
.video-wrapper-16by9 {
	/* 16:9 */
	padding-bottom: 56.25%;
}

/* video inner content */
.video-wrapper video,
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* <<< */

/*Custom select>>>*/
select.custom {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    position: relative;
    padding: 5px 25px 5px 10px;
    background-image: url(../images/select-arrow.png), url(../images/select-bg.png);
    background-position: center right 5px, center center;
    background-repeat:   no-repeat, repeat-x;
    border: 1px solid black;
    border-radius: 3px;
}
select::-ms-expand {
    display: none; /* hide the default arrow in ie10 and ie11 */
}
/*<<<*/

/* custom checkboxes >>> */
/**
usage sample:
<input type="checkbox" class="custom" name="test" id="test" value="xxx" /><label for="test">Custom checkbox</label>
*/
input[type=checkbox].custom {
	display: none;
}

input[type=checkbox].custom + label {
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 5px;
	padding: 5px;
	box-shadow: 1px 1px 5px rgba(100, 100, 100, 0.4);
	border-radius: 5px;
	cursor: pointer;
}
input[type=checkbox].custom + label:hover {
	box-shadow: 1px 1px 5px rgba(100, 100, 100, 0.2);
}

input[type=checkbox].custom + label::before {
	content: "　";
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-right: 0.5em;
	text-align: center;
	line-height: 1em;
	background: lightgrey;
	border-radius: 3px;
}

input[type=checkbox].custom:checked + label::before {
	content: "✔";
	color: white;
}
/* <<< */

/* TOGGLE SWITCHES >>> */
/**
usage sample:
<span class="toggle-switch"><input type="checkbox" name="myswitch" id="myswitch" value="xxx" /><label for="myswitch"></label></span>
*/
.toggle-switch {
    display: inline-block;
    vertical-align: middle;
}

.toggle-switch input {
    display: none;
}

.toggle-switch label {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 30px;
    background: rgba(200, 200, 200, 0.5);
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-radius: 5px;
}
.toggle-switch label::after {
    position: absolute;
    content: "";
    border-radius: 4px;
    top: 1px;
    left: 1px;
    width: 45%;
    height: 26px;
    background: white;
    box-shadow: 0 0 5px rgba(200, 200, 200, 0.7);
    transition: all 0.2s;
}

.toggle-switch input:checked + label {
	background: lightgreen;
}

.toggle-switch input:checked + label::after {
    left: 41px;
}
/* <<< */
