/*
 Some customization I apply when using milligram css 
 Quick and easy for tests or samples.
*/

code {
	font-size: inherit;
}

pre {
	padding: 1em; /* padding please! */
}

.alert {
	margin: 15px 0;
	padding: 15px;
	color: black;
	border-radius: 5px;
}

.alert-warning {
	background-color: #FFC300;
	box-shadow: 0 5px #D9A600;
}

.alert-info {
	background-color: #44BEC7;
	box-shadow: 0 5px #3AA2A9;
}