
.tree ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tree li {
	position: relative;
	margin: 0 0 0 1em;
	padding: 7px 15px;
}

.tree ul ul>li {
	border-left: 1px solid lightgray;
}
.tree ul>li:last-child {
	padding-bottom: 0;
}

.tree ul ul>li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 17px;
	width: 10px;
	height: 1px;
	background-color: lightgray;
}

.tree ul ul>li:last-child::after {
	content: "";
	position: absolute;
	left: -1px;
	top: 18px;
	height: 100%;
	width: 10px;
	background-color: white;
}
