
.toast {
	z-index: 10;
	padding: 10px;
	position: absolute;
	width: 300px;
	left: calc(50% - 100px);
	top: 0;
	opacity: 1;
	background-color: #eee;
	border-radius: 5px;
	transform: translateY(-100%);
	transition: all 0.3s ease;
	cursor: pointer;
}

.toast.error {
	background-color: red;
	color: white;
}
.toast.warning {
	background-color: orange;
	color: white;
}
.toast.info {
	background-color: blue;
	color: white;
}
.toast.success {
	background-color: green;
	color: white;
}

.toast.bounceIn {
	transform: translateY(10px);
}
.toast.delete {
	opacity: 0;
}