
#mobile-menu {
	display: none;
	padding: 15px; /* looks good if it matches the padding of the header with the hamburger icon */
	background-color: white;
}
#mobile-menu .mobile-nav-menu {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
#mobile-menu #mobile-menu-btn {
	display: inline-block;
	margin-left: auto;
}

#mobile-menu .fl-end {
	display: flex;
	justify-content: flex-end;
}

body.mobile-menu-open {
	overflow: hidden;
}

body.mobile-menu-open #mobile-menu {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;

	display: block;
	width: 50%;
	min-width: 280px;
	overflow-y: auto;

	box-shadow: 0 2px 5px rgba(100, 100, 100, 0.5);
}