/* Base >>> */

/*
 sidebar menu  howto
 ===================
 The main menu is the tag with the ID main-menu.
 The elements that are only required on mobile 
 can have the class "mobile-menu-only" so they won't appear on PC.
*/


body.mobile-menu-open {
	overflow: hidden;
	position: fixed;
	left: 0;
	right: 0;
}

.mobile-menu-open-btn span {
	display: none;
}

.mobile-menu-only {
	display: none;
}


/* Mobile width */
@media (max-width: 640px) {
	body.mobile-menu-open .mobile-menu-only {
		display: block;
	}

	.mobile-menu-open-btn {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		width: 70px;
		height: 70px;
		background: #AE0002 url(ico-mobile-menu.png) center center no-repeat;
		z-index: 110;
	}

	/* show main menu */
	body.mobile-menu-open #mobile-menu {
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		width: 300px;
		background: white;
		box-shadow: 0 0 5px rgba(100, 100, 100, 0.5);
		z-index: 109;
	}
}
